Click==7.1
Flask==1.1.2
Flask-WTF==0.14.3
scikit-learn==0.22
Flask-SQLAlchemy==2.4.4
numpy==1.20.1
pandas==1.2.1
scipy==1.6.0
Werkzeug==1.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
itsdangerous==1.1.0
threadpoolctl==2.1.0
wheel
pylint
pylint-flask-sqlalchemy
pylint-flask
# Flask-Migrate==2.6.0
# python-dateutil==2.8.0
# pytz==2019.3
# six==1.12.0
