{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to Hypothyroid Detention Page</h1>

  <div>
    <h4>This is a machine learning application at developmental stage, NOT intented for Medical use. </h4>
  </div>

  <div>

    <li style="font-size:20px">
      Click "Input data" at the top nav bar to input data for application.
    </li>
    <li style="font-size:20px">Click "List data" at the top nav bar to List all the data 
        in the database (developmental stage feature.  
        That will be available only for database admin in future).
    </li>
    <li style="font-size:20px">
      Click "Delete data" at the top nav bar to delete data (developmental stage feature. 
      That will be available only for database admin in future).
    </li>
  </div>

</div>
{% endblock %}
